.navlink {
    background-color: #ffffff;
    color: #422600;
    border: 1px solid #cccccc;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    font-family: Times New Roman, sans-serif;
}

.navlink:hover {
    background-color: #422600;
    color: #ffffff;
    border-color: #422600;
}

.navlink.ativo {
    background-color: #422600;
    color: #ffffff;
    border-color: #422600;
}

main section {
    float: left;
    padding: 20px;
    width: 50%;
}

main aside {
    float: right;
    width: 45%;
}

footer {
    clear: both;
    text-align: center
}

header {
  background-color: #fdfbd4;
  padding: 30px;
  text-align: center;
  font-size: 20px;
  color: #422600;
}

html{
    font-family: arial, helvetica, sans-serif;
    overflow-y: scroll;
}

title{
    background-color: #422600;
    color: white;
}
h1 {
    color: #422600;
}
h2 {
    color: #422600;
}
h3 {
    color: #422600;
}

th{
    color: #422600;
}

.intro{
    text-align: center
}

button{
    background-color: #422600;
    color: #ffffff;
    border-color: #422600;
}

.slideshow {
    display: flex;
    justify-content: center;
}

.controls {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.intro {
    text-align: center;
    display: block;
}